@using EventsSystem.Common
@model EventsSystem.Web.ViewModels.Places.PlaceViewModel

<h1>@Model.Name</h1>

@Model.Name
<div class="text-muted small ml-3">
    <form id="votesForm" method="post"></form>
    <div>
        <a href="#" onclick="sendVote(@Model.Id, true)">
            <i class="fa fa-thumbs-up"></i>
        </a>
    </div>
    <div id="votesCount">@Model.VotesCount</div>
    <div>
        <a href="#" onclick="sendVote(@Model.Id, false)">
            <i class="fa fa-thumbs-down"></i>
        </a>
    </div>
</div>


<p>You have been there leave review</p>
<a href="@("/r/"+Model.Name.Replace(' ', '-'))"> leave Review </a>

@if (Model.Reviews.Count > 0)
{
    <h3>Reviews</h3>
    @foreach (var rev in Model.Reviews)
    {
        <hr />
        <div>@rev.Description</div>

        <hr />
    }
}

@section Scripts {
    <script>
        function sendVote(placeId, isUpVote) {
            var token = $("#votesForm input[name=__RequestVerificationToken]").val();
            var json = { placeId: placeId, isUpVote: isUpVote };
            $.ajax({
                url: "/api/votes",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    $("#votesCount").html(data.votesCount);
                    console.log(data.votesCount)
                }
            });
        }
    </script>
}





