@using EventsSystem.Common
@model EventsSystem.Web.ViewModels.Places.PlaceWithEventViewModel

<h1>@Model.Place.Name</h1>

@Model.Place.Name
<div class="text-muted small ml-3">
    <form id="votesForm" method="post"></form>
    <div>
        <a href="#" onclick="sendVote(@Model.Place.Id, true)">
            <i class="fa fa-thumbs-up"></i>
        </a>
    </div>
    <div id="votesCount">@Model.Place.VotesCount</div>
    <div>
        <a href="#" onclick="sendVote(@Model.Place.Id, false)">
            <i class="fa fa-thumbs-down"></i>
        </a>
    </div>
</div>


<p>You have been there leave review</p>
<a href="@("/r/"+Model.Place.Name.Replace(' ', '-'))"> leave Review </a>

@if (Model.Place.Reviews.Count > 0)
{
    <h3>Reviews</h3>
    @foreach (var rev in Model.Place.Reviews)
    {
        <hr />
        <div>@rev.Description</div>

        <hr />
    }
}

@if (Model.Events.Count() > 0)
{
    <h3>Events on this place</h3>
    @foreach (var ev in Model.Events)
    {
        <hr />
        <h4><a asp-controller="Events" asp-action="ById" asp-route-id="@ev.Id">@ev.Name</a></h4>
        
        <hr />
    }
}

@section Scripts {
    <script>
        function sendVote(placeId, isUpVote) {
            var token = $("#votesForm input[name=__RequestVerificationToken]").val();
            var json = { placeId: placeId, isUpVote: isUpVote };
            $.ajax({
                url: "/api/votesplace",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    $("#votesCount").html(data.votesCount);
                    console.log(data.votesCount)
                }
            });
        }
    </script>
}





