@using EventsSystem.Common
@model EventsSystem.Web.ViewModels.Events.EventViewModel

<div class="media">
    <div class="media-body">
        <h1 class="text-center mt-0 mb-1 text-justify">
            @Model.Name
            <small class="text-muted">@Model.Place.Address</small>
        </h1>
    </div>

</div>

<div class="media">
    <div class="media-body">
        <h5 class="mt-0">Description</h5>
        <p>@Html.Raw(Model.SanitizedDescription)</p>
    </div>
</div>

<div class="media">
    <div class="media-body">
        <h5 class="mt-0">Time of The Event</h5>
        <p>@Model.Time</p>
    </div>
</div>

<div class="media">
    <div class="media-body">
        <h5 class="mt-0">Place of event</h5>
        <p>@Model.Place.Address</p>
    </div>

    <div class="media-body">
        <h4 class="media-heading">
            <a asp-controller="Places" asp-action="ById" asp-route-id="@Model.PlaceId">@Model.Place.Name</a>
        </h4>

    </div>
</div>

@if (Model.EntranceFee != 0)
{
    <div class="media">
        <div class="media-body">
            <h5 class="mt-0">Entrance</h5>
            <p>@Model.EntranceFee lv</p>
        </div>
    </div>
}

else
{
    <div class="media">
        <div class="media-body">
            <h5 class="mt-0">Entrance</h5>
            <p>Free</p>
        </div>
    </div>

}

<div class="text-muted small ml-3">
    <form id="votesForm" method="post"></form>
    <div>
        <a href="#" onclick="sendVote(@Model.Id, true)">
            <i class="fa fa-thumbs-up"></i>
        </a>
    </div>
    <div id="votesCount">@Model.VotesCount interested</div>
    <div>
        <a href="#" onclick="sendVote(@Model.Id, false)">
            <i class="fa fa-thumbs-down"></i>
        </a>
    </div>
</div>

@section Scripts {
    <script>
        function sendVote(eventId, isUpVote) {
            var token = $("#votesForm input[name=__RequestVerificationToken]").val();
            var json = { eventId: eventId, isUpVote: isUpVote };
            $.ajax({
                url: "/api/votesevent",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    $("#votesCount").html(data.votesCount+" interested");
                    console.log(data.votesCount)
                }
            });
        }
    </script>
}